<?xml version="1.0" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="acme.integration.webhook"
           path="/acme/webhook"
           controller="Acme\\SwBasics\\IntegrationApis\\Controller\\WebhookController"
           methods="POST">
        <default key="csrf_protected">false</default>
    </route>
</routes>
